<div class=cryptocontainer>
<div class=cryptoinfo>
<img alt="" style="max-height:1em;max-width:1em;display:inline" src=/pix/xmr.svg> Monero <br>
<code style="font-size:xx-small;overflow-wrap:break-word;">43DQYosBEoR5PhztL76411LRKLZ9m2jJb3ENonb4tppV9wvMtizgvDiP3RKjp9UfbdaU9TvEXsCeFU7q64NEcdawRB2pC9i</code><br>
<a href=/pix/monero.png><img alt="Monero QR Code" class=qr src=/pix/monero.png></a>
</div>
<div class=cryptoinfo>
<img alt="" style="max-height:1em;max-width:1em;display:inline" src=/pix/btc.svg> Bitcoin <br>
<code style="font-size:small;overflow-wrap:break-word;">bc1q5935r8ly3gpmndftf5dttpmqjycuw92x3snepg</code><br>
<a href=/pix/bitcoin.png><img alt="Bitcoin QR Code" class=qr src=/pix/bitcoin.png></a>
</div>
</div>
